example/workflow.js
[{"id":"49f21581.3609bc","type":"inject","z":"600f402c.4dac98","name":"Get GoogleFit Step count","topic":"","payload":"{\"username\":\"test3\",\"metric\":\"step_count\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":139.75,"y":64.63333129882812,"wires":[["f19d9b30.e38618"]]},{"id":"249ed0eb.2d42d","type":"debug","z":"600f402c.4dac98","name":"","active":false,"console":"false","complete":"true","x":501.75,"y":93.01666259765625,"wires":[]},{"id":"f19d9b30.e38618","type":"function","z":"600f402c.4dac98","name":"","func":"\n//var payload = JSON.parse(msg.payload);\nvar payload = msg.payload;\n\nif (payload.username == undefined){\n    payload.username = \"test\";\n}    \nmsg.payload = JSON.stringify(payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":343.75,"y":136.39999389648438,"wires":[["249ed0eb.2d42d","4057a80.af79dd8"]]},{"id":"b4c79020.9c19a","type":"debug","z":"600f402c.4dac98","name":"authentication Response","active":true,"console":"false","complete":"true","x":849.75,"y":171.75,"wires":[]},{"id":"f4ba377d.2e0b8","type":"http in","z":"600f402c.4dac98","name":"","url":"/auth","method":"get","swaggerDoc":"","x":70,"y":180.13333129882812,"wires":[["f19d9b30.e38618","9d075e93.d66058"]]},{"id":"4a248aa2.802a4c","type":"debug","z":"600f402c.4dac98","name":"getData","active":true,"console":"false","complete":"true","x":752.75,"y":287.75,"wires":[]},{"id":"a9c11dc7.e1cdc8","type":"function","z":"600f402c.4dac98","name":"set metric and time duration","func":"var payload= JSON.parse(msg.payload);\n\nif (payload.metric == undefined){\n    payload.metric = \"step_count\";\n}\n\npayload.startTime=\"2017-05-01\";\npayload.stopTime=\"2017-06-05\"\n\nmsg.payload = JSON.stringify(payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":205.75,"y":304.75,"wires":[["acb4c713.9b5fb8","74a6fc56.c06cec"]]},{"id":"42349e2f.71c278","type":"function","z":"600f402c.4dac98","name":"Extract Steps","func":"var payload = JSON.parse(msg.payload);\n\nvar steps = [];\n    payload.body.forEach(function (data){\n        var stepObj = {};\n        stepObj.time = data.body.effective_time_frame.time_interval.start_date_time;    \n        stepObj.value = data.body.step_count;\n        steps.push(stepObj);\n    });\n\n    msg.payload = steps;\nreturn msg;","outputs":1,"noerr":0,"x":714.75,"y":356.25,"wires":[["16f54c3d.33e04c"]]},{"id":"16f54c3d.33e04c","type":"debug","z":"600f402c.4dac98","name":"Steps","active":true,"console":"false","complete":"payload","x":872.75,"y":352.25,"wires":[]},{"id":"9d075e93.d66058","type":"debug","z":"600f402c.4dac98","name":"","active":false,"console":"false","complete":"true","x":249.75,"y":224.75,"wires":[]},{"id":"acb4c713.9b5fb8","type":"debug","z":"600f402c.4dac98","name":"","active":true,"console":"false","complete":"true","x":411.75,"y":402.75,"wires":[]},{"id":"e3ffd063.f45ab","type":"http response","z":"600f402c.4dac98","name":"","x":717.75,"y":240.01666259765625,"wires":[]},{"id":"4057a80.af79dd8","type":"shimmer_authenticate","z":"600f402c.4dac98","name":"","server":"1f6490af.8b65d7","x":542.75,"y":170.0833282470703,"wires":[["b4c79020.9c19a","a9c11dc7.e1cdc8"]]},{"id":"74a6fc56.c06cec","type":"shimmer_getData","z":"600f402c.4dac98","name":"","server":"1f6490af.8b65d7","x":474.75,"y":304.58331298828125,"wires":[["4a248aa2.802a4c","e3ffd063.f45ab","42349e2f.71c278"]]},{"id":"1f6490af.8b65d7","type":"shimmer-config","z":"","shimmer_server_url":"http://localhost:8083","shimmer_service":"googlefit"}]
